@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  @apply w-60 rounded-md border-none bg-gray-100 px-4 py-2 text-dark outline-none;
}

select {
  @apply border-none outline-none;
}

li {
  @apply cursor-pointer;
}

@layer utilities {
  .section__height {
    height: calc(100vh - 80px);
  }

  .divider {
    @apply h-[2px] w-20 bg-primary;
  }
}

Button {
  @apply duration-300 hover:cursor-pointer hover:bg-primary;
}

.rt-Badge {
  @apply p-1 uppercase tracking-wider;
}

.border-img {
  width: 100%;
  height: 2px;
  border-top: 2px solid white;
  border-image-source: radial-gradient(
    circle at top right,
    #6e56cf,
    transparent 70%
  );
  border-image-slice: 1;
}

.mask_img {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 40%, red 90%);
}

ul {
  @apply font-medium text-muted;
}
